In [1]:
pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.8.6-cp38-cp38-win_amd64.whl (1.1 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.8.6
Note: you may need to restart the kernel to use updated packages.

In [12]:
import psycopg2 # use to integrate PostgreSQL with python

database_name = "postgres"
user_name = "postgres"
password = "usman"
host_ip = "127.0.0.1"
host_port ="5432"

my_con = psycopg2.connect(   # making a connection with the database
            database = database_name,
            user = user_name,
            password = password,
            host = host_ip,
            port = host_port
)

my_con.autocommit = True # you don't have to commit your queries again&again after executing them
cursor = my_con.cursor() # using this object, we will execute the SQL queries

### Creating the DataBase

In [13]:
query = "CREATE DATABASE car_db"
cursor.execute(query)

DuplicateDatabase: database "car_db" already exists

In [16]:
database_name = "car_db"
user_name = "postgres"
password = "usman"
host_ip = "127.0.0.1"
host_port ="5432"

my_db_con = psycopg2.connect(
            database = database_name,
            user = user_name,
            password = password,
            host = host_ip,
            port = host_port
)

### Creating the Table

In [35]:
creating_table = """
CREATE TABLE cars (
id SERIAL PRIMARY KEY,
name Char(50) NOT NULL,
model INT,
number Char(50),
color Char(50),
company Char(50)
)
"""
my_db_con.autocommit = True
cursor = my_db_con.cursor()
cursor.execute(creating_table)

### Inserting data in the Table

In [45]:
cars = [
    ("xli", 2017, "ABC1", "Red", "corola"),
    ("700s", 2018, "ABC2", "Black", "BMW"),
    ("civic", 2019, "ABC3", "White", "Honda"),
    ("3S", 2020, "ABC4", "Purple", "Mercedez"), # List of tuples
    ("Mehran", 2021, "ABC5", "Yellow", "Suzuki"),
]
car_records = ", ".join(["%s"] * len(cars))
insert_query = (
    f"INSERT INTO cars (name, model, number, color, company) VALUES {car_records}"
)
cursor.execute(insert_query, cars)

### Reading the Data

In [46]:
select_cars = "SELECT * FROM cars"
cursor.execute(select_cars)

cars = cursor.fetchall()

for car in cars:
    print(car)

(1, 'xli                                               ', 2017, 'ABC1                                              ', 'Red                                               ', 'corola                                            ')
(2, '700s                                              ', 2018, 'ABC2                                              ', 'Black                                             ', 'BMW                                               ')
(3, 'civic                                             ', 2019, 'ABC3                                              ', 'Blue                                              ', 'Honda                                             ')
(4, '3S                                                ', 2020, 'ABC4                                              ', 'Blue                                              ', 'Mercedez                                          ')
(5, 'Mehran                                            ', 2021, 'ABC5                                              ', 'Blue                                              ', 'Suzuki                                            ')
(6, 'xli                                               ', 2017, 'ABC1                                              ', 'Red                                               ', 'corola                                            ')
(7, '700s                                              ', 2018, 'ABC2                                              ', 'Black                                             ', 'BMW                                               ')
(8, 'civic                                             ', 2019, 'ABC3                                              ', 'White                                             ', 'Honda                                             ')
(9, '3S                                                ', 2020, 'ABC4                                              ', 'Purple                                            ', 'Mercedez                                          ')
(10, 'Mehran                                            ', 2021, 'ABC5                                              ', 'Yellow                                            ', 'Suzuki                                            ')

### Updating the Data

In [49]:
update_car = """
UPDATE cars
SET color = 'Blue'
WHERE
model >= 2019
"""

cursor.execute(update_car)
cursor.execute(select_cars)
cars = cursor.fetchall()

for car in cars:
    print(car)

(1, 'xli                                               ', 2017, 'ABC1                                              ', 'Red                                               ', 'corola                                            ')
(2, '700s                                              ', 2018, 'ABC2                                              ', 'Black                                             ', 'BMW                                               ')
(3, 'civic                                             ', 2019, 'ABC3                                              ', 'Blue                                              ', 'Honda                                             ')
(4, '3S                                                ', 2020, 'ABC4                                              ', 'Blue                                              ', 'Mercedez                                          ')
(5, 'Mehran                                            ', 2021, 'ABC5                                              ', 'Blue                                              ', 'Suzuki                                            ')

### Deleting the Data

In [51]:
delete_car = "DELETE FROM cars WHERE model = 2019"
cursor.execute(delete_car)

cursor.execute(select_cars)
cars = cursor.fetchall()

for car in cars:
    print(car)

(1, 'xli                                               ', 2017, 'ABC1                                              ', 'Red                                               ', 'corola                                            ')
(2, '700s                                              ', 2018, 'ABC2                                              ', 'Black                                             ', 'BMW                                               ')
(4, '3S                                                ', 2020, 'ABC4                                              ', 'Blue                                              ', 'Mercedez                                          ')
(5, 'Mehran                                            ', 2021, 'ABC5                                              ', 'Blue                                              ', 'Suzuki                                            ')